

<section class="services content-header">
    <div class="cover"></div>
    <div class="container">
        <div class="row">
            <h1 class="slide-page-text tlt">About Us</h1>
        </div>
    </div>
</section>

<section class="container table-padding">
    <div class="row about-solution">
        <div class="col-md-12 box-about">
            <div class="col-md-5"><img src="static/images/people-ebook.jpg" alt="" /></div>
            <div class="col-md-7">
                <h2>Solution ebook reading</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae massa et augue pharetra facilisis. Ut ac lacinia dolor.
                    Praesent sed leo et dui rhoncus finibus vel pulvinar nisl. Maecenas fermentum iaculis laoreet. Praesent sed leo et dui rhoncus
                    finibus vel pulvinar nisl.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 team-book">
            <div class="">
                <h2 class="title-team">GLOBAL TEAM. WORLD CLASS RESULTS.</h2>
                <div class="col-md-4 img-author">
                    <div class="info-author">
                        <img src="static/images/team1.jpg" alt="" />
                        <h2>GORDON SMITH</h2>
                        <p class="sub-title">Evo Author</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae massa et augue pharetra facilisis. Ut ac lacinia dolor.</p>

                        <div class="author-contact">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 img-author">
                    <div class="info-author">
                        <img src="static/images/team1.jpg" alt="" />
                        <h2>GORDON SMITH</h2>
                        <p class="sub-title">Evo Author</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae massa et augue pharetra facilisis. Ut ac lacinia dolor.</p>

                        <div class="author-contact">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 img-author">
                    <div class="info-author">
                        <img src="static/images/team1.jpg" alt="" />
                        <h2>GORDON SMITH</h2>
                        <p class="sub-title">Evo Author</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae massa et augue pharetra facilisis. Ut ac lacinia dolor.</p>

                        <div class="author-contact">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        "use strict";
        setTimeout(function () {
            $('.tlt').css("visibility", "visible");
            $('.tlt').textillate({ in: { effect: 'bounceIn' } });
        }, 2000);
    });
</script>
