

<section>
    <div owlcarousel id="owl-demo" class="owl-carousel" >
        
        <div class="item item1" style="background-image: url(static/images/slider/slider2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="description">
                        <span class="title">New Season</span>
                        <span class="subtitle">TV Lcd 40% Off</span>
                        <span class="des"> Best Lcd ready only for you. Take your time and choose your perfect tv!</span>
                        <a href="" class="btn">shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item2" style="background-image: url(static/images/slider/slider3.jpg);">
            <div class="container">
                <div class="row">
                    <div class="description">
                        <span class="title">Headphone</span>
                        <span class="subtitle">2 Products 40% Off</span>
                        <span class="des"> Best headphone ready only for you. Take your time and choose your perfect headphone!</span>
                        <a href="" class="btn">shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item2" style="background-image: url(static/images/slider/slider4.jpg);">
            <div class="container">
                <div class="row">
                    <div class="description">
                        <span class="title">Sound Logitec</span>
                        <span class="subtitle">Offer 20% Off</span>
                        <span class="des"> Best sound ready only for you. Take your time and choose your perfect Tv!</span>
                        <a href="" class="btn">shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> <!-- .cd-hero -->

<!--TOP SERVICES-->

<section>
    <div class="block-service block-service-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="col-md-3 simbol-ft"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                        <div class="col-md-9 simbol-desc">
                            <p class="title">Safe Shopping</p>
                            <p>Safe Shopping Guarantee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="col-md-3 simbol-ft"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="col-md-9 simbol-desc">
                            <p class="title">30- day return </p>
                            <p>Moneyback guarantee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="col-md-3 simbol-ft"><i class="fa fa-plane" aria-hidden="true"></i></div>
                        <div class="col-md-9 simbol-desc">
                            <p class="title">Free Shipping </p>
                            <p>On oder over $100</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="col-md-3 simbol-ft"><i class="fa fa-headphones" aria-hidden="true"></i></div>
                        <div class="col-md-9 simbol-desc">
                            <p class="title">24/7 support</p>
                            <p>online Consultations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--FEATURED PRODUCTS-->

<section class="container" ng-controller="listProductsCtrl">
    <div class="row">
        <div class="col-lg-12 text-center shop-title-store">
            <h1 class="section-title">FEATURED <span>PRODUCTS</span></h1>
            <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
        </div>
        <div class="col-lg-12 content-store">
            <div class="col-md-4 offer-electro" ng-controller="radioOffersCtrl">
                <div class="bord-electro" ng-repeat="data in offers_radio">
                    <div class="electro-title"><h3 class="section-title"><span>Special</span><br /><span>Offer</span></h3></div>
                    <div class="">
                        <img ng-src="static/images/books/{{data.image}}" alt="">
                        <p>{{data.description}}</p>
                    </div>
                    <div class="price-electro">{{data.price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}<span ng-class="{'vis-hidden': data.first_price == 0.00}">{{data.first_price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}</span></div>

                    <div class="box-btn-shop">
                        <div class="bt-img"><a class="btn btn-det-cart" href="#/products/{{data._id}}"><i class="fa fa-list"></i></a></div>
                        <div class="bt-img bt-img-right"><button type="button" ng-click="addProduct(data, 1)" class="btn btn-add-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="list-product">
                    <div class="col-md-3 my-shop-animation" ng-repeat="data in products | limitTo:8">
                        <div class="box-prod group-book">
                            <div class="box-img-book">
                                <img ng-src="static/images/books/{{data.image}}">
                            </div>
                            <h2 class="title-book">{{data.title}}</h2>

                            <p class="author-txt">{{getCategory(data.categoryId)}}</p>

                            <p class="book-price"> {{data.price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}<span ng-class="{'vis-hidden': data.first_price == 0.00}">{{data.first_price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}</span></p>
                            <div class="box-btn-shop">
                                <div class="bt-img"><a class="btn btn-det-cart" href="#/products/{{data.id}}"><i class="fa fa-list"></i></a></div>
                                <div class="bt-img bt-img-right"><button type="button" ng-click="addProduct(data, 1)" class="btn btn-add-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>

<!--AUTHOR BOOK-->

<section class="home4 exlusive-book-option2" ng-controller="listProductsCtrl">  
    <div class="vertical-author-name"><h2>Gordon</h2></div>
    
    <div class="container ">
        <div class="col-md-12 magazine-product">
            <div class="circle-discount"><h2>15%</h2></div>
            <div class="col-md-6 img-author">
                <div class="info-magazine-mockup">
                    <img class="img-team-author" src="static/images/team2.jpg" alt="" />
                    <img src="static/images/magazine-mockup.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 experience-magazine">
                <div class="txt-exp">
                    <p>1° BeoSound</p>
                </div>
                <div class="magazine-desc">
                    <p><span>Dust and resistance</span></p>
                    <p><span>Including two free canvas straps</span></p>
                    <p><span>Up to 24hrs battery life</span></p>
                    <p><span>Dimension 4,4 x 14,2 x 25</span></p>
                    <p><span>Weight 1.1 kg 2.4 lb</span></p>
                </div>
                <div class="col-md-12"><p class="price-magazine">{{345 * selectCurrency.rate | currency : selectCurrency.currencySymbol}}</p></div>
                <div class="col-md-12">
                    <img class="signature" src="static/images/sign.png" alt="" />
                </div>
            </div>
            
        </div>
    </div>
</section>

<!--BEST SELLERS-->

<section class="container" ng-controller="listProductsCtrl">
    <div class="row">
        <div class="col-lg-12 text-center shop-title-store">
            <h1 class="section-title">Best <span>Sellers</span></h1>
            <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
        </div>
        <div class="col-lg-12 content-store">
            <div class="list-product">
                <div class="col-md-2 my-shop-animation" ng-repeat="data in best_seller">
                    <div class="box-prod">
                        <div class="box-img-book">
                            <img ng-src="static/images/books/{{data.image}}">
                        </div>
                        <h2 class="title-book">{{data.title}}</h2>

                        <p class="author-txt">{{getCategory(data.categoryId)}}</p>

                        <p class="book-price"> {{data.price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}<span ng-class="{'vis-hidden': data.first_price == 0.00}">{{data.first_price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}</span></p>
                        <div class="box-btn-shop">
                            <div class="bt-img"><a class="btn btn-det-cart" href="#/products/{{data.id}}"><i class="fa fa-list"></i></a></div>
                            <div class="bt-img bt-img-right"><button type="button" ng-click="addProduct(data, 1)" class="btn btn-add-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


