<div ng-controller="loginCtrl as ctrl">
<section class="container">
    <div class="row">
        <div class="col-lg-12 table-padding">
            
            <div id="loginbox" class="mainbox col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Login</div>
                        <div class="forgot-pwd">
                            <button class="btn btn-primary">Forgot your password?</button>
                        </div>
                    </div>
                    <div style="padding-top: 20px" class="panel-body">
                        <form name="loginForm"  class="form-horizontal" method="post" ng-submit="" form-autofill-fix>

                            <div style="margin-top: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-send"></i></span> 
                                <input type="text" class="form-control" name="username" placeholder="Username or email" ng-model="ctrl.login.username" required />
                            </div>

                            <div style="margin-top: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span> 
                                <input type="password" class="form-control" name="password" placeholder="Password" ng-model="ctrl.login.password" required />
                            </div>

                            <div style="margin-top: 20px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <input type="submit" class="btn btn-success login-btn" ng-click="ctrl.submit(loginForm)" value="Log In">
                                </div><br /><br />

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<script>
    $(function () {
        "use strict";
        setTimeout(function () {
            $('.tlt').css("visibility", "visible");
            $('.tlt').textillate({ in: { effect: 'fadeInDown' } });
        }, 2000);
        setTimeout(function () {
            $('.tlt2').css("visibility", "visible");
            $('.tlt2').textillate({ in: { effect: 'bounceIn' } });
        }, 3000);
        setTimeout(function () {
            $('.tlt2').css("visibility", "visible");
        }, 3000);
    });
</script>
