<div ng-controller="registerCtrl as ctrl">
<section class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-promotion register-box-text">
                    <h1 class="register-top-title tlt">New Account</h1>
                    <h1 class="register-top-title register-top-second tlt2">+ 1 watch free</h1>
                </div>
                <div class="fadeInRight animated abc-book">
                    <img src="static/images/slide-book1.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-lg-12 table-padding">
            
            <div id="loginbox" class="mainbox col-md-12 register-box">
                <div class="panel panel-info">
                    <div>
                        <h3>New Account</h3>
                        <p>Not our registered customer yet?</p>
                    </div>
                    <div class="panel-heading">
                        <div class="panel-title">Register</div>
                    </div>
                    <div style="padding-top: 20px" class="panel-body">
                        <form name="loginForm" ng-submit="" class="form-horizontal regietr-form" method="post" novalidate form-autofill-fix>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span> 
                                <input type="text" class="form-control" placeholder="Username" ng-model="ctrl.register.username" required />
                            </div>
                            
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span> 
                                <input type="password" class="form-control" name="password" placeholder="Password" ng-model="ctrl.register.password" required />
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-send"></i>
                                </span> 
                                <input type="email" class="form-control" name="email" placeholder="Email" ng-model="ctrl.register.email" required />
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span> 
                                <input type="text" class="form-control" name="First Name" placeholder="First Name" ng-model="ctrl.register.first_name" required />
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span> 
                                <input type="text" class="form-control" name="Last Name" placeholder="Last Name" ng-model="ctrl.register.last_name" required />
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-earphone"></i>
                                </span> 
                                <input type="tel" class="form-control" name="phon_number" placeholder="Phone Number" ng-model="ctrl.register.phone" required />
                            </div>

                            <div style="margin-top: 20px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <button type="submit" class="btn btn-success login-btn" value="Register" ng-click="ctrl.submit()">Register</button>
                                </div><br /><br />
                            </div>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<script>
    $(function () {
        "use strict";
        setTimeout(function () {
            $('.tlt').css("visibility", "visible");
            $('.tlt').textillate({ in: { effect: 'rollIn' } });
        }, 2000);
        setTimeout(function () {
            $('.tlt2').css("visibility", "visible");
            $('.tlt2').textillate({ in: { effect: 'bounceIn' } });
        }, 3000);
        setTimeout(function () {
            $('.tlt2').css("visibility", "visible");
        }, 3000);
    });
</script>
