<div ng-controller="registerSelectCtrl as ctrl">
    <section class="container">
        <div class="row blog-v1">
            <div class="col-lg-12 table-padding ">
                <div class="col-lg-12 text-center shop-title-store">
                    <h1 class="section-title">Please select your account type</h1>
                    <div class="blog-item ">
                        <div class="blog-desc">
                            <div class="mainbox blog-info-desc">
                                <button class="btn btn-primary btn-blog" ng-click="ctrl.farmerRegis()">Farmer</button>
                                <button class="btn btn-primary btn-blog" ng-click="ctrl.factoryRegis()">Factory</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
