

<section class="services content-header"> 
    <div class="cover"></div>
    <div class="container">
        <div class="row">
            <h1 class="slide-page-text tlt">Services</h1>
        </div>
    </div>
</section>

<section class="container table-padding-double-up">
    <div class="row about-solution">
        <div class="col-md-12">
            <div class="col-md-4 box-services">
                <div class="box-icon"><span class="icon-circle-compass"></span></div>
                <h2>Branding</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae massa et augue pharetra facilisis. Ut ac lacinia dolor.
                    Praesent sed leo et dui rhoncus finibus vel pulvinar nisl. Maecenas fermentum iaculis laoreet. Praesent sed leo et dui rhoncus
                    finibus vel pulvinar nisl.
                </p>
            </div>
            <div class="col-md-4 box-services">
                <div class="box-icon"><span class="icon-presentation"></span></div>
                <h2>Marketing</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae massa et augue pharetra facilisis. Ut ac lacinia dolor.
                    Praesent sed leo et dui rhoncus finibus vel pulvinar nisl. Maecenas fermentum iaculis laoreet. Praesent sed leo et dui rhoncus
                    finibus vel pulvinar nisl.
                </p>
            </div>
            <div class="col-md-4 box-services">
                <div class="box-icon"><span class="icon-browser"></span></div>
                <h2>Web Design</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae massa et augue pharetra facilisis. Ut ac lacinia dolor.
                    Praesent sed leo et dui rhoncus finibus vel pulvinar nisl. Maecenas fermentum iaculis laoreet. Praesent sed leo et dui rhoncus
                    finibus vel pulvinar nisl.
                </p>
            </div>
        </div>
    </div>

    <div class="row about-solution">
        <div class="col-md-12 team-book service-slider-mini">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="slider">
                        <div id="slider" class="flexslider .flexslider-attachments">
                            <ul class="slides">
                                <li data-thumb="static/images/slider/mini-slider/thumb1.jpg"><img src="static/images/slider/mini-slider/1.jpg" alt="" /></li>
                                <li data-thumb="static/images/slider/mini-slider/thumb2.jpg"><img src="static/images/slider/mini-slider/2.jpg" alt="" /></li>
                                <li data-thumb="static/images/slider/mini-slider/thumb3.jpg"><img src="static/images/slider/mini-slider/3.jpg" alt="" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 service-percentage">
                    <h2 class="title-team">OUR CRAZY SKILLS</h2>
                    <div class="skillbar clearfix" data-percent="80%">
                        <div class="skillbar-title"><span>Design</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">40%</div>
                    </div> <!-- End Skill Bar -->

                    <div class="skillbar clearfix " data-percent="95%">
                        <div class="skillbar-title"><span>Analysis</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">75%</div>
                    </div> <!-- End Skill Bar -->

                    <div class="skillbar clearfix " data-percent="100%">
                        <div class="skillbar-title"><span>SEO</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">100%</div>
                    </div> <!-- End Skill Bar -->

                    <div class="skillbar clearfix " data-percent="70%">
                        <div class="skillbar-title"><span>Restyling</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">60%</div>
                    </div> <!-- End Skill Bar -->

                    <div class="skillbar clearfix " data-percent="65%">
                        <div class="skillbar-title"><span>Perform</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">45%</div>
                    </div> <!-- End Skill Bar -->


                </div>

            </div>
    </div>
</section>


<section class="content-bottom-services">
    <div class="cover"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-number-left">
                <div class="img-count-prod"><img src="static/images/books/prod_total.png" alt="" /></div>
                <div class="col-md-3 number-structure-left">
                    <div class="n-number">
                        <p>fridge</p>
                        <span class="counter">112</span>
                    </div>
                </div>
                <div class="col-md-3 number-structure-left">
                    <div class="n-number">
                        <p>Tv Lcd</p>
                        <span class="counter">342</span>
                    </div>
                </div>
                <div class="col-md-3 number-structure-left">
                    <div class="n-number">
                        <p>washer</p>
                        <span class="counter">595</span>
                    </div>
                </div>

                <div class="col-md-3 number-structure-left">
                    <div class="n-number">
                        <p>Notebook</p>
                        <span class="counter">182</span>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>


<script>
    $(function () {
        "use strict";
        setTimeout(function () {
            $('.tlt').css("visibility", "visible");
            $('.tlt').textillate({ in: { effect: 'bounceIn' } });
        }, 2000);
    });
</script>

<script>
    $(document).ready(function ($) {
    /*************************************************************
    Percentage skillbar
    *************************************************************/
        $(function skillbar() {
            "use strict";
            try {
                $('.skillbar').each(function () {
                    $(this).find('.skillbar-bar').animate({
                        width: $(this).attr('data-percent')
                    }, 3000);
                });
            } catch (err) {
            }
        });

    /*************************************************************
    Small FlexSlider Slide
    *************************************************************/
        $(function flexImg() {
            "use strict";
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: ""

            });
        });
    });
</script>

 <!--Counter-->

<script type="text/javascript">
$(function () {
    "use strict";
    $('.counter').counterUp({
        delay: 40,
        time: 4000
    });
});
</script>