   

<!-- FOOTER -->

<section id="footer" class="ftr-2">
    
    <div class="container footer2">
        <div class="row">
            <div class="col-md-12 footer-title"><h2><span>Evo</span>Tech</h2></div>
            <div class="col-md-12">
                <div class="col-md-4 footer-zone footer-about">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu lorem, mattis quis convallis ac</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu lorem, mattis quis convallis ac</p>

                    <div class="socialfooter">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                    </div>
                </div>
                <div class="col-md-4 footer-zone footer-about">
                    <h3>CONTACTS</h3>
                    <p><i class="fa fa-map-marker"></i>Address: Broadway Road 35-127</p>
                    <p><i class="fa fa-phone"></i>Phone: +001 3072341187</p>
                    <p><i class="fa fa-envelope-o"></i>Mail: info@evobook.com</p>
                    <p><i class="fa fa-globe"></i>evobook@world.com</p>
                    
                </div>
                <div class="col-md-4 box-tags footer-about">
                    <p><i class="fa fa-headphones" aria-hidden="true"></i></p>
                    <h3> +44 345 01 989</h3>
                </div>
                <div class="footer-map"><img src="static/images/map.png" alt="map" /></div>
            </div>
        </div>
    </div>
</section>