   
<!-- NEWS LETTERS -->

<section class="footer2">

    <div class="google-maps">
        <!--Google Maps-->
        <div id="map_container" ng-controller="mapCtrl">

            <div id="map_canvas">

            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->

<section id="footer" class="ftr-3">
    
    <div class="container footer3">
        <div class="row">
            <div class="col-md-12 box-info">
                <div class="col-md-12 footer-content-logo"><h2>Evo<span>Tech</span></h2></div>
                <div class="socialfooter">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-google"></i></a>
                </div>
            </div>
            
            <div class="col-md-12 box-support footer-about">
                <p><i class="fa fa-headphones" aria-hidden="true"></i></p>
                <h3> +44 345 01 989</h3>
                <div class="footer-map"><img src="static/images/map.png" alt="map" /></div>
            </div>
            <div class="col-md-12">
                <div class="footer-zone footer-about">
                    <div class="col-md-3"><p><i class="fa fa-map-marker"></i>Address: Broadway Road 35-127</p></div>
                    <div class="col-md-3"><p><i class="fa fa-phone"></i>Phone: +001 3072341187</p></div>
                    <div class="col-md-3"><p><i class="fa fa-envelope-o"></i>Mail: info@evobook.com</p></div>
                    <div class="col-md-3"><p><i class="fa fa-globe"></i>evobook@world.com</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-6 copyright">ThemeOxygen © 2017 Name All Rights Reserved </div>
                    <div class="col-xs-6 payment-card">
                        <i class="fa fa-2x fa-cc-visa"></i>
                        <i class="fa fa-2x fa-cc-mastercard"></i>
                        <i class="fa fa-2x fa-cc-amex"></i>
                        <i class="fa fa-2x fa-cc-paypal"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>