

<section class="header-footer" ng-controller="listProductsCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-header-footer">
                <div class="col-md-4">
                    <h3>Featured Products</h3>
                    <ul>
                        <li ng-repeat="data in featured_products">
                            <div class="col-md-4"><img ng-src="static/images/books/{{data.image}}" alt="" /></div>
                            <div class="col-md-8">
                                <h2 class="title-book">{{data.title}}</h2>
                                <p class="book-price"> {{data.price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}<span ng-class="{'vis-hidden': data.first_price == 0.00}">{{data.first_price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Onsale Products</h3>
                    <ul>
                        <li ng-repeat="data in onsale_products">
                            <div class="col-md-4"><img ng-src="static/images/books/{{data.image}}" alt="" /></div>
                            <div class="col-md-8">
                                <h2 class="title-book">{{data.title}}</h2>
                                <p class="book-price"> {{data.price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}<span ng-class="{'vis-hidden': data.first_price == 0.00}">{{data.first_price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Top Rated Products</h3>
                    <ul>
                        <li ng-repeat="data in topRated_products">
                            <div class="col-md-4"><img ng-src="static/images/books/{{data.image}}" alt="" /></div>
                            <div class="col-md-8">
                                <h2 class="title-book">{{data.title}}</h2>
                                <p class="book-price"> {{data.price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}<span ng-class="{'vis-hidden': data.first_price == 0.00}">{{data.first_price * selectCurrency.rate | currency : selectCurrency.currencySymbol}}</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
